{% extends "::base.html.twig" %}
        {% block stylesheets %}
        <link href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://d19k46zntalu3t.cloudfront.net/css/style.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css">
       <link rel="stylesheet" href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap.datepicker.css">

        <link rel="stylesheet" href="http://d19k46zntalu3t.cloudfront.net/css/smooth/jquery-ui-1.8.16.custom.css" >
        <link rel="stylesheet" href="http://d19k46zntalu3t.cloudfront.net/css/chosen.css">
        <!-- Scripts -->
                 
        {% endblock %}
        
{% block content %}

       <div class="container-fluid">
        <div class="content">
          
            <div class="row-fluid">
                <div class="span12">
                    <div class="box">
                        <div class="box-head tabs">
                            <h3>Crear Tema de Célula</h3>
                            <ul class="nav nav-tabs">
                                <li class='active'>
                                    <a href="#basic" data-toggle='tab'>Información Básica</a>
                                </li>
                                
                                
                            </ul>
                        </div>
                        
                        <div class="box-content">
                            <form action="#" class="form-horizontal" id="form_tema" name="form_tema" method="POST">
                                <div class="tab-content">
                                   <div class="tab-pane active" id="basic">
                                    
                                    <div class="control-group">
                                        <label class="control-label" >Titulo</label>
                                        <div class="controls">
                                            <input type="text" id="titulo" name="titulo" placeholder="Titulo" class="input-xxlarge" pattern="|^[a-zA-Z ñÑáéíóúüç0-9]+$|" required autofocus>
                                        </div>
                                    </div>
            
                                    <div class="control-group">
                                        <label class="control-label" >Autor</label>
                                        <div class="controls">
                                            <input type="text" id="author" name="author" placeholder="Autor" class="input-xxlarge" pattern="|^[a-zA-Z ñÑáéíóúüç]+$|" required>
                                        </div>
                                    </div>
                            
                                    <div class="control-group">
                                        <label class="control-label" >Descripción</label>
                                        <div class="controls">
                                            <textarea rows="5" id="descripcion" name="descripcion" placeholder="Descripción" class="input-xxlarge" required> </textarea>
                                        </div>
                                    </div>
                            
                                    <div class="control-group">
                                        <label class="control-label">Tipo</label>
                                        <div class="controls">
                                            <select id="tipo"  name="tipo" required>
                                                <option value="Evangelistica">Evangelistica</option>
                                                <option value="Mentoreo">Discipulado</option>
                                            </select>
                                        </div>
                                    </div>
                            
                                    <div class="control-group">
                                        <label class="control-label">Archivo</label>
                                        <div class="controls">
                                            <input type="file" name="file">
                                            <input type="hidden" name="filename0" class="name">
                                        </div>
                                    </div>
                            
                        
                       
                              
                                </div>
                                <div class="form-actions">
                                    <input type="submit" class='btn btn-primary' value="Guardar" id="btnGuardarServicio" name="btnGuardarServicio">
                                    <input type="reset" class='btn btn-danger' value="Cancelar">
                                </div>
                                </div>
                            </form>
                       
                    </div>
                </div>
            </div>
        </div>  
    </div>
        
{% endblock %}
      
               
      {%block javascript %}
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/jquery.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-typeahead.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-collapse.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-button.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-tooltip.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-tab.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap.js"></script>    
            <script src="http://d19k46zntalu3t.cloudfront.net/js/custom.js"></script>              
            <!--[if lt IE 9]> <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/html5.js"></script><![endif]-->
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery/jquery.ui.core.min.js"></script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery/jquery.ui.widget.min.js"></script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery/jquery.ui.position.min.js"></script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery/jquery.ui.autocomplete.min.js"></script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap.datepicker.js"></script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/bbq.js"> </script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/chosen.jquery.min.js"> </script>
            <script src="https://www.google.com/jsapi"></script>
            <!--[if lt IE 9]> <script type="text/javascript" src="/net/public/js/html5.js"></script><![endif]-->              
            
        
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.sparkline.js"> </script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.dataTables.js"> </script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/custom-tables.js"> </script>
            
            <script src="http://d19k46zntalu3t.cloudfront.net/js/util/functiongen.js"> </script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/util/datatable_plugins.js"></script>
            
            

      
      <script type="text/javascript">
          
                $redes = null;
                root = typeof exports !== "undefined" && exports !== null ? exports : this;
                var leccionTabla;

                root.SourceTServicio = "/recuperar_personas_inicio";

                root.DatosEnviar = null;
                root.count = 0;
                personas = null;
                
                urlES = "https://s3.amazonaws.com/acfinal/dt_ES.txt"
        
                PrepararDatos = function() {
                    return root.DatosEnviar = {
                            "formulario": $("#form_tema").serializeObject()
                    };
                };

                SuccessFunction = function(data) {
                                        
                    if(data.responseCode===200 ){          
                      
                       $("#form_tema").reset();                      
                        alert('Registro Completado');
                        
                    }
                    else if(data.responseCode===400){//bad request
                       alert('Error bad request');
                        }
                    else{                        
                        if(data.responseCode===500)
                        {
                            alert('Error bad request');
                        }
                        else alert("An unexpeded error occured.");
                        }
                    
                };
                
            
         
	$(document).ready(function() {
       
          
            $("#form_tema").submit(function(event){
                
                 event.preventDefault();
                 PrepararDatos();
                 console.log(root.DatosEnviar);
                 return enviar('{{path('tema_save')}}', root.DatosEnviar, SuccessFunction, null);
  
            });
       
            
        } );

       </script>
      {%endblock %}