{% extends "::base.html.twig" %}
        {% block stylesheets %}
        <link href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://d19k46zntalu3t.cloudfront.net/css/style.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css">
       <link rel="stylesheet" href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap.datepicker.css">

        <link rel="stylesheet" href="http://d19k46zntalu3t.cloudfront.net/css/smooth/jquery-ui-1.8.16.custom.css" >

        <!-- Scripts -->
                 
        {% endblock %}
        
{% block content %}

       <div class="container-fluid">
        <div class="content">
          
            <div class="row-fluid">
                <div class="span12">
                    <div class="box">
                        <div class="box-head tabs">
                            <h3>Red perfiles</h3>
                            <ul class="nav nav-tabs">
                                <li class='active'>
                                    <a href="#basic" data-toggle='tab'>Información Básica</a>
                                </li>
                                <li>
                                    <a href="#sec" data-toggle='tab'>Ubicación</a>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="box-content">
                            <form action="#" class="form-horizontal" id="form_red" name="form_red" method="POST">
                            <div class="tab-content">
                                <div class="tab-pane active" id="basic">
                                        <div class="control-group">
                                            <label for="red" class="control-label">Red</label>
                                            <div class="controls">
                                                <input type="text" name="red" id="red" value="">
                                            </div>
                                        </div>
                                    
                                        <div class="control-group">
                                            <label class="control-label" >Tipo de Red  </label>
                                                <div class="controls">
                                                    <select id="tipo_red" name="tipo_red" required >
                                                        <option value="1">Hombres</option>
                                                        <option value="2">Mujeres</option>
                                                    </select>
                                                </div>
                                        </div>
                                    
                                       <div class="control-group">
                                            <label class="control-label">Fecha Creación(*)</label>
                                            <div class="controls">
                                                <input type= "text" class="datepick input-medium" id="creacion"
                                                    name="creacion" required/>
                                                <p class="help-block">Día/Mes/Año</p>  
                                            </div>
                                        </div>
                                        
                                        <div class="control-group">
                                            <label for="lider" class="control-label">Lider</label>
                                            <div class="controls">
                                                <div class="input-append">
                                                    <input type="hidden" name="lider_id" id="lider_id" value="-1">
                                                    <input type="text" name="lider" id="lider" class="input-large">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label for="pastor" class="control-label">Pastor</label>
                                            <div class="controls">
                                                <div class="input-append">
                                                    <select id="pastor" name="pastor">
                                                    
                                                    </select>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                </div>
                                <div class="tab-pane" id="sec">
                                    <div class="control-group">
                                        <label class="control-label">Dirección (*)</label>
                                        <div class="controls">
                                            <input type="text" class="input-xxlarge" id="inputDireccion" name="inputDireccion" required />
                                        </div>
                                    </div>
        
                                    <div class="control-group">
                                        <label class="control-label">Referencia</label>
                                        <div class="controls" >
                                            <input type="text" class="input-xxlarge" id="inputReferencia" name="inputReferencia" />
                                        </div>
                                    </div>
                
                                    <div class="">
                                        <div class="">
                                            <div class="control-group">
                                                <label class="control-label" >Departamento (*)</label>
                                                <div class="controls">
                                                    <select name="departamento_lista" id="departamento_lista" required  class="input-medium">
                    
                                                    </select>
                                                </div>
                                            </div>  
                                        </div>
        
                                    <div class="">
                                        <div class="control-group">
                                            <label class="control-label" >Provincia (*)</label>
                                            <div class="controls">
                                                <select name="provincia_lista" id="provincia_lista" required class="input-medium">
                   
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="">
        
                                        <div class="control-group">
                                            <label class="control-label">Distrito (*)</label>
                                            <div class="controls">
                                                <select name="distrito_lista" id="distrito_lista" required class="input-medium">
                    
                                                </select>
                                            </div>        
                                        </div>
                                </div>
                            </div>
                          </div>
                                
                            </div>
                                <div class="form-actions">
                                    <input type="submit" class='btn btn-primary' value="Guardar" id="btnGuardarRed" name="btnGuardarRed">
                                    <input type="reset" class='btn btn-danger' value="Cancelar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
        
{% endblock %}
      
               
      {%block javascript %}
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/jquery.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-typeahead.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-collapse.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-button.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-tooltip.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-tab.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap.js"></script>    
            <script src="http://d19k46zntalu3t.cloudfront.net/js/custom.js"></script>              
            <!--[if lt IE 9]> <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/html5.js"></script><![endif]-->
            <script src="http://d19k46zntalu3t.cloudfront.net/js/util/functiongen.js"> </script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery/jquery.ui.core.min.js"></script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery/jquery.ui.widget.min.js"></script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery/jquery.ui.position.min.js"></script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery/jquery.ui.autocomplete.min.js"></script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap.datepicker.js"></script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/util/functiongen.js"> </script>

      
      <script type="text/javascript">
          
                $redes = null;
                root = typeof exports !== "undefined" && exports !== null ? exports : this;

                root.SourceTServicio = "/recuperar_personas_inicio";

                root.DatosEnviar = null;
                personas = null;
        
                PrepararDatos = function() {
                    return root.DatosEnviar = {
                            "formulario": $("#form_red").serializeObject()
                    };
                };

                SuccessFunction = function(data) {
                    
                    console.log(data);
                    
                    if(data.responseCode===200 ){          
                      
                       $("#form_red").reset();
                       
                       cargarSelect(redes, "red_lista", "int_red_id", "id");
                        
                        alert('Registro Completado');
                       
                        $("#lider").autocomplete({
                            source: personas,
                            select: function(event, ui) {
                                $("#lider_id").val(ui.item.id);
                                $("#lider").val(ui.item.label);
                            return false;
                            }
                        });
                        
                        $("#lider_id").val(-1);
                        
                    }
                    else if(data.responseCode===400){//bad request
                       alert('Error bad request');
                        }
                    else{                        
                        if(data.responseCode===500)
                        {
                            alert('Error bad request');
                        }
                        else alert("An unexpeded error occured.");
                        }
                    
                };

    
	$(document).ready(function() {
            
            ubigeos = getAjaxObject("https://s3.amazonaws.com/adminchurchs3/json/ubi.json");
            cargarUbigeo(ubigeos, "distrito_lista", "provincia_lista", "departamento_lista");
                 
            redes = getAjaxObject('{{path('services_red')}}');
                          
            cargarSelect(redes, "red_lista", "int_red_id", "id");
            
            pastores = getAjaxObject('{{path('services_pastor')}}');
                          
            cargarSelect(pastores, "pastor", "id", "label");
            
            $("#form_red").submit(function(event){
                
                 event.preventDefault();
                 PrepararDatos();
                 console.log(root.DatosEnviar);
                 return enviar('{{path('red_save')}}', root.DatosEnviar, SuccessFunction, null);
  
            });
            
                    url = '{{path( 'services_lider_red')}}';
             
                     personas = getAjaxObject(url);
                     
                     $("#lider").autocomplete({
                        source: personas,
                        select: function(event, ui) {
                            $("#lider_id").val(ui.item.id);
                            $("#lider").val(ui.item.label);
                            return false;
                        }
                    });
          
        } );

       </script>
      {%endblock %}