{% extends "::base.html.twig" %}
        {% block stylesheets %}
        <link href="http://d2dm6eqgiezevm.cloudfront.net/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://d2dm6eqgiezevm.cloudfront.net/css/style.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://d2dm6eqgiezevm.cloudfront.net/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css">
       <link rel="stylesheet" href="http://d2dm6eqgiezevm.cloudfront.net/css/bootstrap.datepicker.css">

        <link rel="stylesheet" href="http://d2dm6eqgiezevm.cloudfront.net/css/smooth/jquery-ui-1.8.16.custom.css" >
        <link rel="stylesheet" href="http://d2dm6eqgiezevm.cloudfront.net/css/chosen.css">
        <!-- Scripts -->
                 
        {% endblock %}
        
{% block content %}

       <div class="container-fluid">
        <div class="content">
          
            <div class="row-fluid">
                <div class="span12">
                    <div class="box">
                        <div class="box-head tabs">
                            <h3>Servicios</h3>
                            <ul class="nav nav-tabs">
                                <li class='active'>
                                    <a href="#basic" data-toggle='tab'>Información Básica</a>
                                </li>
                                
                               
                            </ul>
                        </div>
                        <div class="box-content">
                            <form action="#" class="form-horizontal" id="form_servicio" name="form_servicio" method="POST">
                            <div class="tab-content">
                                <div class="tab-pane active" id="basic">
                                    
                                        <div class="control-group">
                                            <label class="control-label">Nombre</label>
                                            <div class="controls">
                                                <input type="hidden" id="servicio_id" name="servicio_id">
                                                <input type="text" id="nombre" name="nombre" required>
                                            </div>
                                        </div>
                                    
                                        <div class="control-group">                                            
                                            <label class="control-label">Tipo</label>
                                            <div class="controls">
                                                <select id='tipo' name='tipo' required>
                                                    <option value='1'>Culto General</option>
                                                    <option value='2'>Culto Jovenes</option>
                                                    <option value="3">Culto Satelite</option>
                                                    <option value="4">Culto Jueves </option>
                                                </select>
                                            </div>                                          
                                        </div>
                                    
                                        <div class="control-group" >                                            
                                            <label class="control-label">Día</label>
                                            <div class="controls">
                                                <select  id='dia' name='dia' required>
                                                    <option value='0'>Domingo</option>
                                                    <option value='1'>Lunes</option>
                                                    <option value='2'>Martes</option>
                                                    <option value='3'>Miercoles</option>
                                                    <option value='4'>Jueves</option>
                                                    <option value='5'>Viernes</option>
                                                    <option value='6'>Sabado</option>
                                                </select>
                                            </div>                                          
                                        </div>
                                    
                                        <div class="control-group">                                            
                                            <label class="control-label">Hora Inicio</label>
                                            <div class="controls">
                                                <input type="time" id="inicio" name="inicio" value="09:00" required>
                                            </div>                                          
                                        </div>
                                    
                                        <div class="control-group" >                                            
                                            <label class="control-label"> Hora Fin</label>
                                            <div class="controls">
                                                <input type="time" id="fin" name="fin" value="11:00" required>
                                            </div>                                          
                                        </div>                                                     
                                </div>
                              
                            </div>
                                <div class="form-actions">
                                    <input type="submit" class='btn btn-primary' value="Guardar" id="btnGuardarServicio" name="btnGuardarServicio">
                                    <input type="reset" class='btn btn-danger' value="Cancelar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
        
{% endblock %}
      
               
      {%block javascript %}
            <script type="text/javascript" src="http://d2dm6eqgiezevm.cloudfront.net/js/jquery.js"></script>
            <script type="text/javascript" src="http://d2dm6eqgiezevm.cloudfront.net/js/bootstrap-typeahead.js"></script>
            <script type="text/javascript" src="http://d2dm6eqgiezevm.cloudfront.net/js/bootstrap-collapse.js"></script>
            <script type="text/javascript" src="http://d2dm6eqgiezevm.cloudfront.net/js/bootstrap-button.js"></script>
            <script type="text/javascript" src="http://d2dm6eqgiezevm.cloudfront.net/js/bootstrap-tooltip.js"></script>
            <script type="text/javascript" src="http://d2dm6eqgiezevm.cloudfront.net/js/bootstrap-tab.js"></script>
            <script type="text/javascript" src="http://d2dm6eqgiezevm.cloudfront.net/js/bootstrap.js"></script>    
            <script src="http://d2dm6eqgiezevm.cloudfront.net/js/custom.js"></script>              
            <!--[if lt IE 9]> <script type="text/javascript" src="http://d2dm6eqgiezevm.cloudfront.net/js/html5.js"></script><![endif]-->
            <script src="http://d2dm6eqgiezevm.cloudfront.net/js/util/functiongen.js"> </script>
            <script src="http://d2dm6eqgiezevm.cloudfront.net/js/jquery/jquery.ui.core.min.js"></script>
            <script src="http://d2dm6eqgiezevm.cloudfront.net/js/jquery/jquery.ui.widget.min.js"></script>
            <script src="http://d2dm6eqgiezevm.cloudfront.net/js/jquery/jquery.ui.position.min.js"></script>
            <script src="http://d2dm6eqgiezevm.cloudfront.net/js/jquery/jquery.ui.autocomplete.min.js"></script>
            <script src="http://d2dm6eqgiezevm.cloudfront.net/js/bootstrap.datepicker.js"></script>
            <script src="http://d2dm6eqgiezevm.cloudfront.net/js/util/functiongen.js"> </script>
            <script src="http://d2dm6eqgiezevm.cloudfront.net/js/bbq.js"> </script>
            <script src="http://d2dm6eqgiezevm.cloudfront.net/js/chosen.jquery.min.js"> </script>

      
      <script type="text/javascript">
          
                $redes = null;
                root = typeof exports !== "undefined" && exports !== null ? exports : this;

                root.SourceTServicio = "/recuperar_personas_inicio";

                root.DatosEnviar = null;
                personas = null;
        
                PrepararDatos = function() {
                    return root.DatosEnviar = {
                            "formulario": $("#form_servicio").serializeObject()
                    };
                };

                SuccessFunction = function(data) {
                    
                    console.log(data);
                    
                    if(data.responseCode===200 ){          
                      
                       $("#form_servicio").reset();
                      
                        alert('Registro Completado');
                        
                    }
                    else if(data.responseCode===400){//bad request
                       alert('Error bad request');
                        }
                    else{                        
                        if(data.responseCode===500)
                        {
                            alert('Error bad request');
                        }
                        else alert("An unexpeded error occured.");
                        }
                    
                };

	$(document).ready(function() {
                    
            
            $("#form_servicio").submit(function(event){
                
                 event.preventDefault();
                 PrepararDatos();
                 console.log(root.DatosEnviar);
                 return enviar('{{path('servicio_save')}}', root.DatosEnviar, SuccessFunction, null);
  
            });
       
            
        } );

       </script>
      {%endblock %}